.CrudApp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 60%;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

.CrudAppHeader {
    display: flex;
    align-content: flex-end;
    align-items: center;
    align-self: flex-start;
}

.CrudHeader {
    font-size: 2.3rem;
}

.UpdateNotesButton {
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
    color: green;
    padding: 4px 12px 0;
    cursor: pointer;
    margin-left: 30px;
}

.NotesList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.NoteItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 47%;
    max-height: 47%;
    padding: 30px;
    margin-top: 50px;
    border: 1px solid black;
}

.NoteItemText {
    font-size: 1.3rem;
}

.DeleteNoteButton {
    position: absolute;
    top: -25px;
    right: -25px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
    color: green;
    padding: 10px;
    cursor: pointer;
    margin-left: 30px;
}

.TextAreaBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 30px;
    padding-right: 30px;
}

.NoteTextArea {
    resize: none;
    width: 100%;
    min-height: 150px;
    border: 1px solid black;
    font-size: 1.2rem;
    padding: 20px;
    margin-top: 10px;
}

.AddNoteButton {
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
}
